# mapping from bundle name to table prefix
parameters:
    sasb_table_prefix: sasb_
        
services:
    _defaults:
        # this means you cannot fetch services directly from the container via $container->get()
        # if you need to do this, you can override this setting on individual services
        autowire: true
        autoconfigure: true
        public: true
        
    HansPeterOrding\SleeperApiSymfonyBundle\DoctrineExtensions\TablePrefixEventListener:
        arguments:
            $prefix: '%sasb_table_prefix%'
        tags:
            - { name: doctrine.event_listener, event: loadClassMetadata, method: loadClassMetadata }
                
    HansPeterOrding\SleeperApiSymfonyBundle\Util\ScheduleUtils: ~
    
    # Repositories
    HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperDraftRepository: ~
    hpo_sleeper_api_symfony_bundle.repository.sleeper_draft: '@HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperDraftRepository'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperDraftPickRepository: ~
    hpo_sleeper_api_symfony_bundle.repository.sleeper_draft_pick: '@HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperDraftPickRepository'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperDraftPickMetadataRepository: ~
    hpo_sleeper_api_symfony_bundle.repository.sleeper_draft_pick_metadata: '@HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperDraftPickMetadataRepository'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperDraftSettingsRepository: ~
    hpo_sleeper_api_symfony_bundle.repository.sleeper_draft_settings: '@HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperDraftSettingsRepository'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperDraftMetadataRepository: ~
    hpo_sleeper_api_symfony_bundle.repository.sleeper_draft_metadata: '@HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperDraftMetadataRepository'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperLeagueRepository: ~
    hpo_sleeper_api_symfony_bundle.repository.sleeper_league: '@HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperLeagueRepository'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperLeagueSettingsRepository: ~
    hpo_sleeper_api_symfony_bundle.repository.sleeper_league_settings: '@HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperLeagueSettingsRepository'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperLeagueScoringSettingsRepository: ~
    hpo_sleeper_api_symfony_bundle.repository.sleeper_league_scoring_settings: '@HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperLeagueScoringSettingsRepository'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperMatchupRepository: ~
    hpo_sleeper_api_symfony_bundle.repository.sleeper_matchup: '@HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperMatchupRepository'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperNflStateRepository: ~
    hpo_sleeper_api_symfony_bundle.repository.sleeper_nfl_state: '@HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperNflStateRepository'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperPlayerProjectionsRepository: ~
    hpo_sleeper_api_symfony_bundle.repository.sleeper_player_projections: '@HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperPlayerProjectionsRepository'
        
    HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperPlayerRepository: ~
    hpo_sleeper_api_symfony_bundle.repository.sleeper_player: '@HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperPlayerRepository'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperPlayerStatsRepository: ~
    hpo_sleeper_api_symfony_bundle.repository.sleeper_player_stats: '@HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperPlayerStatsRepository'
        
    HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperPlayoffMatchupRepository: ~
    hpo_sleeper_api_symfony_bundle.repository.sleeper_playoff_matchup: '@HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperPlayoffMatchupRepository'
        
    HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperRosterRepository: ~
    hpo_sleeper_api_symfony_bundle.repository.sleeper_roster: '@HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperRosterRepository'
        
    HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperTradedPickRepository: ~
    hpo_sleeper_api_symfony_bundle.repository.sleeper_traded_pick: '@HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperTradedPickRepository'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperTransactionRepository: ~
    hpo_sleeper_api_symfony_bundle.repository.sleeper_transaction: '@HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperTransactionRepository'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperUserRepository: ~
    hpo_sleeper_api_symfony_bundle.repository.sleeper_user: '@HansPeterOrding\SleeperApiSymfonyBundle\Repository\SleeperUserRepository'

    # Converters    
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperDraftPickMetadataConverter: ~
    hpo_sleeper_api_symfony_bundle.converter.sleeper_draft_pick_metadata: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperDraftPickMetadataConverter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperDraftSettingsConverter: ~
    hpo_sleeper_api_symfony_bundle.converter.sleeper_draft_settings: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperDraftSettingsConverter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperDraftMetadataConverter: ~
    hpo_sleeper_api_symfony_bundle.converter.sleeper_draft_metadata: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperDraftMetadataConverter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperLeagueSettingsConverter: ~
    hpo_sleeper_api_symfony_bundle.converter.sleeper_league_settings: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperLeagueSettingsConverter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperLeagueScoringSettingsConverter: ~
    hpo_sleeper_api_symfony_bundle.converter.sleeper_league_scoring_settings: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperLeagueScoringSettingsConverter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperMatchupConverter: ~
    hpo_sleeper_api_symfony_bundle.converter.sleeper_matchup: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperMatchupConverter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperNflStateConverter: ~
    hpo_sleeper_api_symfony_bundle.converter.sleeper_nfl_state: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperNflStateConverter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperPlayerConverter: ~
    hpo_sleeper_api_symfony_bundle.converter.sleeper_player: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperPlayerConverter'
        
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperPlayoffMatchupSourceConverter: ~
    hpo_sleeper_api_symfony_bundle.converter.sleeper_playoff_matchup_source: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperPlayoffMatchupSourceConverter'
        
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperRosterSettingsConverter: ~
    hpo_sleeper_api_symfony_bundle.converter.sleeper_roster_settings: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperRosterSettingsConverter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperRosterMetadataConverter: ~
    hpo_sleeper_api_symfony_bundle.converter.sleeper_roster_metadata: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperRosterMetadataConverter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperStatsConverter: ~
    hpo_sleeper_api_symfony_bundle.converter.sleeper_stats: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperStatsConverter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperTransactionMetadataConverter: ~
    hpo_sleeper_api_symfony_bundle.converter.sleeper_transaction_metadata: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperTransactionMetadataConverter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperTransactionSettingsConverter: ~
    hpo_sleeper_api_symfony_bundle.converter.sleeper_transaction_settings: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperTransactionSettingsConverter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperTransactionWaiverBudgetConverter: ~
    hpo_sleeper_api_symfony_bundle.converter.sleeper_transaction_waiver_budget: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperTransactionWaiverBudgetConverter'
        
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperUserMetadataConverter: ~
    hpo_sleeper_api_symfony_bundle.converter.sleeper_user_metadata: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperUserMetadataConverter'
    
    # Dependent converters
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperDraftConverter:
        arguments:
            $sleeperDraftRepository: '@hpo_sleeper_api_symfony_bundle.repository.sleeper_draft'
            $sleeperDraftSettingsConverter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_draft_settings'
            $sleeperDraftMetadataConverter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_draft_metadata'
    hpo_sleeper_api_symfony_bundle.converter.sleeper_draft: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperDraftConverter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperDraftPickConverter:
        arguments:
            $sleeperDraftPickRepository: '@hpo_sleeper_api_symfony_bundle.repository.sleeper_draft_pick'
            $sleeperDraftPickMetadataConverter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_draft_pick_metadata'
    hpo_sleeper_api_symfony_bundle.converter.sleeper_draft_pick: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperDraftPickConverter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperLeagueConverter:
        arguments:
            $sleeperLeagueRepository: '@hpo_sleeper_api_symfony_bundle.repository.sleeper_league'
            $sleeperLeagueSettingsConverter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_league_settings'
            $sleeperLeagueScoringSettingsConverter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_league_scoring_settings'
    hpo_sleeper_api_symfony_bundle.converter.sleeper_league: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperLeagueConverter'
        
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperPlayerProjectionsConverter:
        arguments:
            $sleeperPlayerProjectionsRepository: '@hpo_sleeper_api_symfony_bundle.repository.sleeper_player_projections'
            $sleeperStatsConverter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_stats'
            $sleeperPlayerConverter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_player'
    hpo_sleeper_api_symfony_bundle.converter.sleeper_player_projections: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperPlayerProjectionsConverter'
        
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperPlayerStatsConverter:
        arguments:
            $sleeperPlayerStatsRepository: '@hpo_sleeper_api_symfony_bundle.repository.sleeper_player_stats'
            $sleeperStatsConverter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_stats'
            $sleeperPlayerConverter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_player'
    hpo_sleeper_api_symfony_bundle.converter.sleeper_player_stats: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperPlayerStatsConverter'
        
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperPlayoffMatchupConverter:
        arguments:
            $sleeperPlayoffMatchupRepository: '@hpo_sleeper_api_symfony_bundle.repository.sleeper_playoff_matchup'
            $sleeperPlayoffMatchupSourceConverter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_playoff_matchup_source'
    hpo_sleeper_api_symfony_bundle.converter.sleeper_playoff_matchup: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperPlayoffMatchupConverter'
        
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperRosterConverter:
        arguments:
            $sleeperRosterRepository: '@hpo_sleeper_api_symfony_bundle.repository.sleeper_roster'
            $sleeperRosterSettingsConverter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_roster_settings'
            $sleeperRosterMetadataConverter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_roster_metadata'
    hpo_sleeper_api_symfony_bundle.converter.sleeper_roster: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperRosterConverter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperTradedPickConverter:
        arguments:
            $sleeperTradedPickRepository: '@hpo_sleeper_api_symfony_bundle.repository.sleeper_traded_pick'
    hpo_sleeper_api_symfony_bundle.converter.sleeper_traded_pick: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperTradedPickConverter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperTransactionConverter:
        arguments:
            $sleeperTransactionRepository: '@hpo_sleeper_api_symfony_bundle.repository.sleeper_transaction'
            $sleeperTransactionWaiverBudgetConverter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_transaction_waiver_budget'
            $sleeperTransactionSettingsConverter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_transaction_settings'
            $sleeperTransactionMetadataConverter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_transaction_metadata'
    hpo_sleeper_api_symfony_bundle.converter.sleeper_transaction: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperTransactionConverter'
        
    HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperUserConverter:
        arguments:
            $sleeperUserRepository: '@hpo_sleeper_api_symfony_bundle.repository.sleeper_user'
            $sleeperUserMetadataConverter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_user_metadata'
    hpo_sleeper_api_symfony_bundle.converter.sleeper_user: '@HansPeterOrding\SleeperApiSymfonyBundle\Converter\SleeperUserConverter'
        
    # Importer
    HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperDraftImporter:
        arguments:
            $converter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_draft'
    hpo_sleeper_api_symfony_bundle.importer.sleeper_draft: '@HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperDraftImporter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperDraftPickImporter:
        arguments:
            $sleeperPlayerRepository: '@hpo_sleeper_api_symfony_bundle.repository.sleeper_player'
            $converter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_draft_pick'
    hpo_sleeper_api_symfony_bundle.importer.sleeper_draft_pick: '@HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperDraftPickImporter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperLeagueImporter:
        arguments:
            $converter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_league'
    hpo_sleeper_api_symfony_bundle.importer.sleeper_league: '@HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperLeagueImporter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperMatchupImporter:
        arguments:
            $converter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_matchup'
    hpo_sleeper_api_symfony_bundle.importer.sleeper_matchup: '@HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperMatchupImporter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperPlayerProjectionsImporter:
        arguments:
            $converter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_player_projections'
    hpo_sleeper_api_symfony_bundle.importer.sleeper_player_projections: '@HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperPlayerProjectionsImporter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperPlayerStatsImporter:
        arguments:
            $converter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_player_stats'
    hpo_sleeper_api_symfony_bundle.importer.sleeper_player_stats: '@HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperPlayerStatsImporter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperPlayoffMatchupImporter:
        arguments:
            $sleeperRosterRepository: '@hpo_sleeper_api_symfony_bundle.repository.sleeper_roster'
            $sleeperMatchupRepository: '@hpo_sleeper_api_symfony_bundle.repository.sleeper_matchup'
            $sleeperPlayoffMatchupRepository: '@hpo_sleeper_api_symfony_bundle.repository.sleeper_playoff_matchup'
            $converter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_playoff_matchup'
    hpo_sleeper_api_symfony_bundle.importer.sleeper_playoff_matchup: '@HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperPlayoffMatchupImporter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperRosterImporter:
        arguments:
            $converter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_roster'
    hpo_sleeper_api_symfony_bundle.importer.sleeper_roster: '@HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperRosterImporter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperNflStateImporter:
        arguments:
            $converter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_nfl_state'
    hpo_sleeper_api_symfony_bundle.importer.sleeper_nfl_state: '@HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperNflStateImporter'

    HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperTradedPickImporter:
        arguments:
            $converter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_traded_pick'
    hpo_sleeper_api_symfony_bundle.importer.sleeper_traded_pick: '@HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperTradedPickImporter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperTransactionImporter:
        arguments:
            $converter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_transaction'
                
    HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperUserImporter:
        arguments:
            $converter: '@hpo_sleeper_api_symfony_bundle.converter.sleeper_user'
    hpo_sleeper_api_symfony_bundle.importer.sleeper_user: '@HansPeterOrding\SleeperApiSymfonyBundle\Importer\SleeperUserImporter'
    
    HansPeterOrding\SleeperApiSymfonyBundle\Service\ImportService: ~
    HansPeterOrding\SleeperApiSymfonyBundle\MessageHandler\SleeperSync\SyncSleeperMatchupHandler: ~
    HansPeterOrding\SleeperApiSymfonyBundle\MessageHandler\SleeperSync\SyncSleeperMatchupBatchHandler: ~
    HansPeterOrding\SleeperApiSymfonyBundle\MessageHandler\SleeperSync\SyncSleeperPlayerProjectionsBatchHandler: ~
    HansPeterOrding\SleeperApiSymfonyBundle\MessageHandler\SleeperSync\SyncSleeperPlayerStatsBatchHandler: ~
    HansPeterOrding\SleeperApiSymfonyBundle\MessageHandler\SleeperSync\SyncSleeperTransactionHandler: ~
    HansPeterOrding\SleeperApiSymfonyBundle\MessageHandler\SleeperSync\SyncSleeperTransactionBatchHandler: ~
